{% extends 'logged_worker.html' %}
{% block nav %}
        <div class = "wrapper">
            <div class = "nav-rect2">
                <a href = {% url 'personal_cabinet' %}> Личный кабинет</a>
                <a id = "pers-cab-ref" href = {% url 'benefits_show' %}>Каталог льгот</a>
                <a href = {% url 'wished_show' %}>Список желаний</a>
                {% if user.profile.position == 'hr' or user.profile.position == 'HR'  %}
                    <a href = {% url 'add_benefit' %}>Добавить льготу</a>
                {% endif %}
                <a href = {% url 'benefits_show' %}>(FAQ: как пользоваться каталогом?)</a>
            </div>
        <div class="content">
            <p>Сортировка</p>
            <form method="post" action="{% url 'sort_by_popularity' %}">
                {% csrf_token %}
                <input type="submit" value="по популярности">
            </form>
            <form method="post" action="{% url 'sort_by_price' %}">
                {% csrf_token %}
                <input type="submit" value="по цене">
            </form>
            <form method="post" action="{% url 'sort_by_city' %}">
                {% csrf_token %}
                <input type="submit" value="по городу">
            </form>
        </div>
        <ul>
        {% for item in benefits %}
            <li>{{ item.name }} {{ item.price }} {{ item.city }} {{ item.description }}</li>
            <form method="post" action="{% url 'bought' item.pk %}">
            {% csrf_token %}
                {% if user.profile.balance < item.price or user.profile.city != item.city %}
                    <input type="submit" value="Купить" disabled>
                {% else %}
                    <input type="submit" value="Купить">
                {% endif %}
            </form>
            <form method="post" action="{% url 'wished' item.pk %}">
            {% csrf_token %}
                <input type="submit" value="В список желаний">
            </form>
            {% if user.profile.position == 'hr' %}
                <form method="post" action="{% url 'delete_benefit' item.pk %}">
                {% csrf_token %}
               <input type="submit" value="Удалить льготу">
               </form>
            {% endif %}
            {% endfor %}
        </ul>
        </div>
{% endblock %}