{% extends 'logged_worker.html' %}
{% block nav %}
    <div class = "wrapper">
            <div class = "nav-rect2">
                <a href = {% url 'personal_cabinet' %}> Личный кабинет</a>
                <a href = {% url 'wished_show' %}>Список желаний</a>
                <a href = {% url 'benefits_show' %}>Каталог льгот</a>
                <a id = "pers-cab-ref" href = {% url 'employees_show' %}>Список сотрудников</a>
            </div>
{% endblock %}
{% block content %}
    <p>Список сотрудников:</p>
    <ul>
    {% for item in employees %}
        <li>{{ item.profile.surname }} {{ item.profile.first_name }}</li>
        <form method="post" action="{% url 'delete_worker' item.pk %}">
        {% csrf_token %}
            <input type="submit" value="Удалить сотрудника">
        </form>
        {% endfor %}
    </ul>
    </div>
{% endblock %}