{% extends 'logged_worker.html' %}
    {% block nav %}
    <div class = "wrapper">
        <div class = "nav-rect2">
                <a href = {% url 'personal_cabinet' %}> Личный кабинет</a>
                <a href = {% url 'benefits_show' %}>Каталог льгот</a>
                <a id = "pers-cab-ref" href = {% url 'employees_show' %}>Список сотрудников</a>
                <a href = {% url 'add_employee' %}>Добавить сотрудника</a>
                <a href="{% url 'export_users_xls' %}">Информация о покупках сотрудников</a>
                <a href = {% url 'faq' %}>(FAQ: как пользоваться каталогом?)</a>
        </div>
        <p>Список сотрудников:</p>
        <ul>
            {% for item in employees %}
                <li>{{ item.profile.surname }} {{ item.profile.first_name }}</li>
                {% if item.pk != user.pk %}
                    <form method="post" action="{% url 'delete_worker' item.pk %}">
                    {% csrf_token %}
                        <input type="submit" value="Удалить сотрудника">
                    </form>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
