{% extends 'logged_worker.html' %}
{% block nav %}
    <head>
    <style>
        h1 {
            padding-left: 40px;
        }
    </style>
    </head>
    <div class = "everything">
        <div class = "wrapper">
                <div class = "nav-rect2">
                    <a href = {% url 'personal_cabinet' %}> Личный кабинет</a>
                    <a href = {% url 'benefits_show' %}>Каталог льгот</a>
                    {% if user.profile.position != "HR" and user.profile.position != "hr" %}
                        <a href = {% url 'wished_show' %}>Список желаний</a>
                    {% endif %}
                    {% if user.profile.position == "HR" or user.profile.position == "hr" %}
                        <a href = {% url 'employees_show' %}>Список сотрудников</a>
                    {% endif %}
                    <a id = "pers-cab-ref" href = {% url 'faq' %}>(FAQ: как пользоваться каталогом?)</a>
                </div>
        </div>
        <div class = "faq-info">
            <h1 id = "faq-title"><strong>Руководство пользования каталогом</strong></h1>
            {% if user.profile.position == "HR" or user.profile.position == "hr" %}
            <p>1. В личном кабинете доступна ваша информация.<br><br>

                2. В представленном каталоге есть подробная информация о льготах в каждом городе.
                Вы можете сортировать список льгот по городам, возрастанию, популярности.<br><br>

                3. Вы можете добавить новую льготу, нажава на соответствующую кнопку.<br><br>

                4. Вам доступен список всех сотрудников и информация о них, вы можете начислять
                сотрудникам бонусы, а также удалять их при их увольнении.<br><br>

                5. Вы можете загрузить отчет обо всех покупках сотрудников в таблице Excel при
                нажатии на соответствующую кнопку.<br><br>
            </p>
            {% else %}
             <p>1. В личном кабинете доступна ваша информация, а также список купленных вами льгот.

                2. В представленном каталоге есть подробная информация о льготах в каждом городе.
                Вы можете сортировать список льгот по городам, возрастанию, популярности.<br><br>

                3. Оплата льгот осуществляется внутрекорпоративной валютой, начисляемых HR-специалистами,
                 либо прикреплением документа, дающего вам право на соответствующую льготу.<br><br>

                4. Вы можете добавить льготу в список желаний, нажав на соответствующую кнопку,
                 и оплатить сможете, когда вам будет удобно.<br><br></p>
            {% endif %}
        </div>
    </div>
{% endblock %}