{% extends 'logged_worker.html' %}
{% block nav %}
    <head>
    <style>
        h1 {
            padding-left: 40px;
        }
    </style>
    </head>
    <div class = "wrapper">
            <div class = "nav-rect2">
                <a href = {% url 'personal_cabinet' %}> Личный кабинет</a>
                <a href = {% url 'benefits_show' %}>Каталог льгот</a>
                {% if user.profile.position != "HR" and user.profile.position != "hr" %}
                    <a href = {% url 'wished_show' %}>Список желаний</a>
                {% endif %}
                {% if user.profile.position == "HR" or user.profile.position == "hr" %}
                    <a href = {% url 'employees_show' %}>Список сотрудников</a>
                {% endif %}
                <a id = "pers-cab-ref" href = {% url 'faq' %}>(FAQ: как пользоваться каталогом?)</a>
            </div>
        <h1>
            <p style="padding-left: 350px"><strong>Руководство пользования каталогом</strong></p><br>
            <br>
            <p>1. В представленном каталоге есть подробная информация о льготах в каждом городе.
                Вы можете сортировать список льгот по городам, возрастанию, популярности.</p><br>
            <br>
            <p>2. Чтобы посмотреть  подробную информацию о льготе, нажмите на ее название в списке льгот.</p><br>
            <br>
            <p>3. Оплата льгот осуществляется внутрекорпоративной валютой.</p><br>
            <br>
            <p>4. Добавляя льготу в корзину, вы добавляете ее в список  желаний, и оплатить сможете, когда вам будет удобно.</p><br>
            <br>
            <p>5. Оплата может осуществляться за счет бонусов, начисленных HR-специалистов.</p><br>
            <br>
            <p>6. Вы можете оформить льготу, прикрепив соответствующий  документ.</p>
        </h1>
    </div>
{% endblock %}