<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Добро пожаловать!</title>
    <link rel = "stylesheet" type="text/css" href=" {% static 'Worker/css/style_index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-rect">
                <div class="geolocation">
                    <img src = "{% static 'Worker/img/geo.png' %}" height = 38px>
                    <button class = "moscow">МОСКВА</button>
                    <button class = "perm">ПЕРМЬ</button>
                </div>
                <img src = "{% static 'Worker/img/logo.png' %}">
            </div>
            <div class="nav">
                <form method="get" action="{% url 'home' %}">
                {% csrf_token %}
                <button type="submit" class="enter">Войти</button>
                </form>
            </div>
        </div>
        <div class = "main-header">
            <img src = "{% static 'Worker/img/pngwing 4.png' %}">
            <h1>Кафетерий льгот</h1>
        </div>
        <div class = "main-info">
            <p> <span class = "symbol">></span> Кафетерий льгот  - <br>
                внутрекорпоративная  <br>
                система, автоматизирующая<br>
                льготы и компенсации для<br>
                сотрудников<br><br>

                <span class = "symbol">></span> Копите баллы и оформляйте<br>
                льготы в каталоге<br><br>

                <span class = "symbol">></span> Автозируйтесь  для<br>
                просмотра каталога<br>
                доступных льгот<br><br>

                <span class = "symbol">></span> Управляйте льготами в<br>
                личном  кабинете
            </p>
            <img src = "{% static 'Worker/img/free-icon-benefits-3588592 1.png' %}">
        </div>
    </div>
</body>
</html>