{% block content %}
  <h2>Личный кабинет</h2>
  <p>Добро пожаловать, {{ user.profile.surname }} {{ user.profile.first_name }}!</p>
    <p>Баланс: {{ user.profile.balance }}</p>
    <p>Льготы:</p>
    <ul>
    {% for item in param.benefits  %}
        <li>{{ item.name }} {{ item.price }}</li>
        <form method="post" action="{% url 'bought' item.pk %}">
        {% csrf_token %}
            {% if user.profile.balance < item.price %}
                <input type="submit" value="Купить" disabled>
            {% else %}
                <input type="submit" value="Купить">
            {% endif %}
        </form>
        <form method="post" action="{% url 'wished' item.pk %}">
        {% csrf_token %}
            <input type="submit" value="В список желаний">
        </form>
        {% if user.profile.position == 'hr' %}
            <form method="post" action="{% url 'delete_benefit' item.pk %}">
            {% csrf_token %}
            <input type="submit" value="Удалить льготу">
            </form>
        {% endif %}
        {% endfor %}
    </ul>
    <p>Купленные льготы:</p>
    <ul>
    {% for item in param.bought_benefits %}
        <li>{{ item.benefit.name }}</li>
        {% endfor %}
    </ul>
    <p>Желаемые льготы:</p>
    <ul>
    {% for item in param.wished_benefits %}
        <li>{{ item.benefit.name }}</li>
        <form method="post" action="{% url 'wished_remove' item.benefit.pk %}">
        {% csrf_token %}
            <input type="submit" value="Убрать из списка желаний">
        </form>
        {% endfor %}
    </ul>
  <a href="{% url 'logout' %}">Выйти из аккаунта</a>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>parma_personalCabEmpl</title>
    <link rel = "stylesheet" href = "css/style_persCab_hr.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header-rect">
            <div class="geolocation">
                <img src = "images/geo.png" height = 38px>
                <button class = "moscow">МОСКВА</button>
                <button class = "perm">ПЕРМЬ</button>
            </div>
            <img src = "images/logo_parma.png" >
        </div>

        <div class="nav-rect">
            <div class="employee-info">
                <img src = "images/profile_icon.png" height = 30px>
                <p id = "employee-name">Бейлин Д.Р.<br>
                    (работник)
                </p>
            </div>

            <div class = "balance">
                <img src = "images/money box.png" height = 27px>
                <p>42 бонуса</p>
            </div>
        </div>
        <div class = "wrapper">
            <div class = "nav-rect2">
                <a id = "pers-cab-ref" href = "persCab_hr.html"> Личный кабинет</a>
                <a href = "">Список желаний</a>
                <a href = "">Каталог льгот</a>
            </div>
            <div class="content">
                <div class = "employee-data">
                    <p>Фамилия<br><br>Имя<br><br>Отчество<br><br>Должность<br><br>Стаж</p>
                    <p id = "aboba">Бейлин<br><br>Давид<br><br>Рабинович<br><br>Системный Аналитик<br><br>3 года</p>
                </div>
                <div class = "bonuses">Льготы</div>
            </div>
        </div>


    </div>
</body>
</html>