{% extends 'logged_worker.html' %}
{% block nav %}
        <div class = "wrapper">
            <div class = "nav-rect2">
                <a id = "pers-cab-ref" href = {% url 'personal_cabinet' %}> Личный кабинет</a>
                <a href = {% url 'benefits_show' %}>Каталог льгот</a>
                <a href = {% url 'employees_show' %}>Список сотрудников</a>
            </div>
            <div class="content">
                <div class = "employee-data">
                    <p>Фамилия<br><br>Имя<br><br>Отчество<br><br>Должность<br><br>Стаж<br><br>Город</p>
                    <p id = "aboba">{{ user.profile.surname }}<br><br>
                        {{ user.profile.first_name }}<br><br>{{ user.profile.last_name }}<br><br>
                        {{ user.profile.position }}<br><br>{{ user.profile.experience }}<br><br>
                        {{ user.profile.city }}</p>
                </div>
                <div class = "bonuses">Льготы</div>
                <ul>
                    {% for item in benefits %}
                        <li>{{ item.benefit.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}