{% block content %}
  <h2>Личный кабинет</h2>
  <p>Добро пожаловать, {{ user.profile.surname }} {{ user.profile.first_name }}!</p>
    <p>Баланс: {{ user.profile.balance }}</p>
    <p>Льготы:</p>
    <ul>
    {% for item in param.benefits  %}
        <li>{{ item.name }} {{ item.price }}</li>
        <form method="post" action="{% url 'bought' item.pk %}">
        {% csrf_token %}
            {% if user.profile.balance < item.price %}
                <input type="submit" value="Купить" disabled>
            {% else %}
                <input type="submit" value="Купить">
            {% endif %}
        </form>
        <form method="post" action="{% url 'wished' item.pk %}">
        {% csrf_token %}
            <input type="submit" value="В список желаний">
        </form>
        {% if user.profile.position == 'hr' %}
            <form method="post" action="{% url 'delete_benefit' item.pk %}">
            {% csrf_token %}
            <input type="submit" value="Удалить льготу">
            </form>
        {% endif %}
        {% endfor %}
    </ul>
    <p>Купленные льготы:</p>
    <ul>
    {% for item in param.bought_benefits %}
        <li>{{ item.benefit.name }}</li>
        {% endfor %}
    </ul>
    <p>Желаемые льготы:</p>
    <ul>
    {% for item in param.wished_benefits %}
        <li>{{ item.benefit.name }}</li>
        <form method="post" action="{% url 'wished_remove' item.benefit.pk %}">
        {% csrf_token %}
            <input type="submit" value="Убрать из списка желаний">
        </form>
        {% endfor %}
    </ul>
  <a href="{% url 'logout' %}">Выйти из аккаунта</a>
{% endblock %}