{#{% block content %}#}
{#  <h2>Личный кабинет</h2>#}
{#  <p>Добро пожаловать, {{ user.profile.surname }} {{ user.profile.first_name }}!</p>#}
{#    <p>Баланс: {{ user.profile.balance }}</p>#}
{#    <p>Льготы:</p>#}
{#    <ul>#}
{#    {% for item in param.benefits  %}#}
{#        <li>{{ item.name }} {{ item.price }}</li>#}
{#        <form method="post" action="{% url 'bought' item.pk %}">#}
{#        {% csrf_token %}#}
{#            {% if user.profile.balance < item.price %}#}
{#                <input type="submit" value="Купить" disabled>#}
{#            {% else %}#}
{#                <input type="submit" value="Купить">#}
{#            {% endif %}#}
{#        </form>#}
{#        <form method="post" action="{% url 'wished' item.pk %}">#}
{#        {% csrf_token %}#}
{#            <input type="submit" value="В список желаний">#}
{#        </form>#}
{#        {% if user.profile.position == 'hr' %}#}
{#            <form method="post" action="{% url 'delete_benefit' item.pk %}">#}
{#            {% csrf_token %}#}
{#            <input type="submit" value="Удалить льготу">#}
{#            </form>#}
{#        {% endif %}#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <p>Купленные льготы:</p>#}
{#    <ul>#}
{#    {% for item in param.bought_benefits %}#}
{#        <li>{{ item.benefit.name }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <p>Желаемые льготы:</p>#}
{#    <ul>#}
{#    {% for item in param.wished_benefits %}#}
{#        <li>{{ item.benefit.name }}</li>#}
{#        <form method="post" action="{% url 'wished_remove' item.benefit.pk %}">#}
{#        {% csrf_token %}#}
{#            <input type="submit" value="Убрать из списка желаний">#}
{#        </form>#}
{#        {% endfor %}#}
{#    </ul>#}
{#  <a href="{% url 'logout' %}">Выйти из аккаунта</a>#}
{#{% endblock %}#}




<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel = "stylesheet" type="text/css" href=" {% static 'Worker/css/style_persCab_hr.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header-rect">
            <div class="geolocation">
                <img src = "{% static 'Worker/img/geo.png' %}" height = 38px>
                <button class = "moscow">МОСКВА</button>
                <button class = "perm">ПЕРМЬ</button>
            </div>
            <img src = "{% static 'Worker/img/logo.png' %}">
        </div>
        <div class="nav-rect">
            <div class="employee-info">
                <img src = "{% static 'Worker/img/profile_icon.png' %}" height = 30px>
                <p id = "employee-name">{{ user.profile.surname}} {{ user.profile.first_name }} {{ user.profile.last_name }}<br>
                    {% if user.profile.position == 'hr' or  user.profile.position == 'HR' %}
                        (HR-специалист)
                    {% else %}
                        (работник)
                    {% endif %}
                </p>
                <img id = "img-logout" src = "{% static 'Worker/img/logout.png' %}" height = 30px">
                <a href="{% url 'logout' %}" style="color:white">Выйти из аккаунта</a>
            </div>
            <div class = "balance">
                <img src = "{% static 'Worker/img/money_box.png' %}" height = 27px>
                <p>Баланс: {{ user.profile.balance }}</p>
            </div>
        </div>

        {% block nav %}
        <div class = "wrapper">
            <script src="{% static 'Worker/js/fq.js'%}"></script>
            <div class = "nav-rect2">
                <a id = "pers-cab-ref" href = {% url 'personal_cabinet' %}> Личный кабинет</a>
                <a href = {% url 'benefits_show' %}>Каталог льгот</a>
            </div>


            <div class="content">
                <div class = "employee-data">
                    <p>Фамилия<br><br>Имя<br><br>Отчество<br><br>Должность<br><br>Стаж<br><br>Город</p>
                    <p id = "aboba">{{ user.profile.surname }}<br><br>
                        {{ user.profile.first_name }}<br><br>{{ user.profile.last_name }}<br><br>
                        {{ user.profile.position }}<br><br>{{ user.profile.experience }}<br><br>
                        {{ user.profile.city }}</p>
                </div>
                <div class = "bonuses">Льготы</div>
                <ul>
                    {% for item in benefits %}
                        <li>{{ item.benefit.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>