{% extends 'logged_worker.html' %}

<head>

</head>
{% block nav %}
    <div class = "everything">
        <div class = "wrapper">
            <div class = "nav-rect2">
                <a href = {% url 'personal_cabinet' %}> Личный кабинет</a>
                <a href = {% url 'benefits_show' %}>Каталог льгот</a>
                <a id = "pers-cab-ref" href = {% url 'wished_show' %}>Список желаний</a>
                {% if user.profile.position == 'hr' or user.profile.position == 'HR'  %}
                    <a href = {% url 'add_benefit' %}>Добавить льготу</a>
                {% endif %}
                <a href = {% url 'faq' %}>(FAQ: как пользоваться каталогом?)</a>
            </div>
        </div>
        <div class = "w-benefits-content">
            <p id = "w-benefits-header">Желаемые льготы:</p>
            <table id  = "w-benefits-list">
            {% for item in benefits %}
                <tr`><td id  = "w-benefits-cell">-{{ item.benefit.name }}</td>
                <form method="post" action="{% url 'wished_remove' item.benefit.pk %}">
                {% csrf_token %}
                    <td id  = "w-benefits-cell"><input id  = "remove-from-w-list" type="submit" value="Убрать из списка желаний"></td>
                </form>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}